<h2>Hello, <%= @user.username %>.</h2>

<h3>Existing Characters</h3>
<% @user.characters.each do |character| %>
  <p><a href="/characters/<%= character.id%>"><%= character.name %></a></p>
<% end %>

<p><a href="/characters/new">Create Character</a></p>
