<form method="post" action="/signup">
  <label for="name">Name: </label>
  <input type="text" name="user[name]" id="name">
  <label for="password">Password: </label>
  <input type="text" name="user[password]" id="password">
  <input type="submit">
</form>
