<h2>Welcome to RPG Character Builder!</h2>

<p>This app lets you save and check the details of the favorite video game characters you've CGed.</p>

<p><a href="/signup">Sign Up</a> or <a href="/login">Login</a></p>
