<!doctype html>
<html>
  <head>
    <h1>RPG Character Builder</h1>
  </head>
  <body>
    <nav>
      <a href="/games">All Games</a>
      <% if logged_in? %>
        <a href="/users/<%= session[:id] %>">Your Page</a>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      <% end %>
    </nav>
    <br>
    <p><%= flash[:error] if flash[:error] %></p>
    <br>
    <%= yield %>
  </body>
  <footer>
  </footer>
</html>
